<header class="app-header">
    <nav class="navbar">
      <!-- Left segment: Icon + Name -->
      <div class="nav-left">
        <span class="logo">
          <!-- <i class="material-icons">person</i> -->
          <!-- <i class="bi bi-H-square-fill"></i> -->
          <i class="bi bi-wind"></i>
          <span class="name">Guru</span>
        </span>
      </div>
  
      <!-- Right segment: Navigation Links -->
      <div class="nav-right">
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/about" routerLinkActive="active">About</a>
        <a routerLink="/projects" routerLinkActive="active">Projects</a>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
      </div>
    </nav>
  </header>