<!-- <section id="home" class="d-flex align-items-center">
    <div class="container text-center">
      <h1>I'm <span style="color:#007bff">G.H.Choudri</span></h1>
      <p class="lead">Full-Stack Developer | Angular | .NET | MS SQL</p>
      <p>Developing and implementing user interfaces using HTML, CSS, Bootstrap ,JavaScript, Typescript and Angular.</p>
      <p>Debugging and troubleshooting front-end issues , database issues and resolving user interface bugs & user experience.
        Working with version control systems (Git) and project management tools (JIRA) to track progress and collaborate </p>
      <a href="#projects" class="btn btn-primary"></a>
    </div>
  </section>
   -->