   <div class="hero-section">
    <div class="hero-left">
      <h1>Hi, I'm <span class="highlight">Guru</span> 👋</h1>
      <h2>Full Stack WebDeveloper | Angular Enthusiast</h2>
      <p>I build responsive and interactive web applications using modern technologies like Angular, TypeScript, and more.</p>
  
      <div class="cta-buttons">
        <a href="https://drive.google.com/file/d/1_oFPVb0lYhRwscMQ72maGehZEEpoZDiV/view" target="_blank" class="btn">📄 Resume</a>
        <a routerLink="/contact" class="btn btn-secondary">📬 Contact Me</a>
      </div>
    </div>
  
    <div class="hero-right">
      <!-- <img src="" alt=""> -->
      <img src="https://images.cointelegraph.com/cdn-cgi/image/format=auto,onerror=redirect,quality=90,width=1434/https://s3.cointelegraph.com/uploads/2023-01/158029af-a86a-402f-a5b5-e915cc69f138.JPG" alt="image">
    </div>
  </div>
  <br>

  